/* @import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap";
  @import "https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap"; */

* {
  margin: 0;
  padding: 0;
}

.logo img {
  width: 48px;
  display: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-img {
  height: 20px;
  width: 11%;
  margin-left: 25px;
  margin-top: -12px;
  margin-bottom: 41px;
}

.menu {
  display: none;
}

.menu.show {
  display: block;
}

.menu-img-container {
  float: left;
  margin-right: 10px;
}

.nav-top {
  display: none;
}

li {
  font-family: 'Lato', sans-serif;
  list-style: none;
  display: inline;
  left: 2.4%;
  right: 88.27%;
  top: 90.81%;
  bottom: 18.88%;
  margin-left: 15px;
}

nav li {
  list-style: none;
  display: inline;
  left: 2.4%;
  right: 88.27%;
  margin-left: 15px;
  margin-right: 1rem;
}

nav a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.copyright {
  display: none;
}

.nav-btn {
  margin-right: 70px;
}

.contain {
  display: none;
}

.close-button .links {
  height: 24px;
  left: 4px;
  right: 68px;
  margin-top: 9%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.close-button {
  position: absolute;
  top: 4%;
  right: 8rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 81.9%;
  color: #fff;
  width: 24px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97vh;
    background-color: #6070fff2;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
  }

  nav.show {
    transform: translateX(0);
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 1rem 0;
  }

  .close-button {
    display: block;
  }
}

.body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.home-page {
  background: url(images/mobile_bg.png);
  background-size: 100%;
}

.slogan {
  font-family: lato, sans-serif;
  color: #ec5242;
  font-size: 12px;
  margin-left: 38px;
  margin-bottom: 14px;
}

.head-name {
  font-family: lato, sans-serif;
  color: #ec5242;
  font-size: 18px;
  padding: 12px;
  margin-left: 20px;
}

.head-para {
  display: flex;
  padding-bottom: 12px;
  border: 2px solid white;
  width: 81%;
  margin-left: 16px;
  margin-top: -5px;
  background-color: rgb(236, 232, 232);
}

.desk-home {
  margin-left: 20px;
  margin-top: 7%;
}

span {
  margin-top: 7%;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(95, 95, 97);
  margin-bottom: 20%;
}

.container {
  background-image: url(images/pho.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.program {
  margin-bottom: 5%;
  margin-top: -5%;
  text-align: center;
  padding-bottom: -15%;
}

.card {
  background-color: rgba(184, 172, 172, 0.062);
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  padding: 2%;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
}

.card-image {
  width: 14%;
  height: 41%;
  margin-right: 1rem;
  margin-top: 4%;
}

.title {
  font-family: 'Lato', sans-serif;
  margin-top: 5%;
  padding-right: 2%;
  font-size: 16px;
  font-weight: bold;
  color: #ec5242;
}

.card-para {
  font-family: 'Lato', sans-serif;
  flex: 1;
  font-size: 12px;
  color: white;
}

.join-btn {
  background-color: #ec5242;
  padding: 14px;
  color: white;
  text-align: center;
  border: none;
  margin-left: 74px;
  margin-top: 6%;
  margin-bottom: 7%;
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex > .card {
  flex: 1 1 200px;
}

.subject {
  color: grey;
  font-size: 24px;
  text-align: center;
  padding: 24px;
  font-family: 'Lato', sans-serif;
}

.sample {
  display: flex;
  align-items: center;
}

.speaker-img {
  width: 30%;
  height: auto;
  padding: 12px;
}

.morebtn {
  padding: 12px 16px;
  width: 92%;
  margin: 20px;
}

.speaker-name {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

.work,
.contribution {
  font-size: 12px;
}

.work {
  color: #ec5242;
}

.footer {
  background-color: rgb(34, 33, 33);
  padding-top: 2rem;
}

.footer-head {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 700;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  margin-top: 2%;
}

.prog1 {
  color: #fff;
  text-align: center;
  padding: 5%;
  font-family: 'Lato', sans-serif;
}

.line {
  margin: 10px auto;
  width: 10%;
  border-color: #ec5242;
}

.prog {
  display: none;
}

.logo > div {
  text-align: center;
  margin: 1rem;
}

.logo > div img {
  max-width: 100%;
  height: auto;
}

.last-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.footer-logo {
  width: 150px;
  padding-right: 1rem;
}

.feature {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
}

p {
  margin: 0;
  text-align: left;
}

.about-logo {
  padding: 1rem;
  padding-right: 19%;
  padding-left: 16%;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid rgb(173, 171, 171);
}

.last-para {
  text-align: center;
  color: rgb(95, 95, 97);
  padding: 12px;
}

@media screen and (min-width: 768px) {
  .menu-img {
    display: none;
  }

  .links {
    display: block;
    float: right;
    margin-top: -57px;
    font-family: 'Lato', sans-serif;
  }

  .main-header {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .logo img {
    display: block;
    margin-right: auto;
    margin-left: 201px;
    width: 95px;
  }

  .menu {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .control {
    display: none;
  }

  .home-page1 {
    background-image: url(images/main_desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
  }

  .mobile-text {
    display: none;
  }

  .homo-page {
    display: none;
  }

  .desk-home {
    margin-left: 216px;
    margin-top: 3%;
    padding-bottom: 12%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  p {
    margin: 0;
    text-align: left;
  }

  .about a {
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  .nav-btn {
    color: rgb(235, 59, 59);
    border: 3px solid #ec5242;
    background-color: #fff;
    padding: 10px;
  }

  .nav-btn a {
    color: #ec5242;
  }

  .slogan {
    color: #ec5242;
    font-size: 24px;
    margin-left: 18%;
    font-family: lato, sans-serif;
    margin-top: 7%;
    font-weight: bold;
  }

  .head-name {
    color: #ec5242;
    margin-left: 17%;
    font-size: 39px;
    font-weight: bold;
    font-family: lato, sans-serif;
  }

  .head-para {
    padding: 1%;
    width: 38%;
    line-height: 24px;
    font-size: 12px;
    border: 2px solid #fff;
    background-color: rgb(235, 235, 235);
    margin-left: 17%;
    margin-top: 5%;
    font-family: lato, sans-serif;
    font-weight: 700;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
  }

  .line {
    margin: auto;
    width: 10%;
    border-color: red;
  }

  .speaker {
    margin-bottom: 10%;
  }

  .card {
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 2%;
  }

  .flex > .card {
    flex: 1 1 10px;
    margin: -10px;
  }

  .close-button {
    display: none;
  }

  .card-image {
    width: 30%;
    object-fit: cover;
    height: 15%;
    margin-right: 1rem;
    margin-top: 12%;
  }

  .title {
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
  }

  .card-para {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 700;
  }

  .button-container {
    margin-top: 3%;
  }

  .prog1 {
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 2%;
  }

  .prog {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding-bottom: 6%;
    margin-top: 4%;
  }

  .join-btn {
    display: none;
  }

  .speakers {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 221px;
    margin-left: 220px;
  }

  .sample {
    width: 48%;
    display: flex;
    margin-bottom: 20px;
  }

  .speaker-img {
    width: 100px;
    margin-right: 10px;
  }

  .speaker-name {
    margin-top: 0;
    font-size: 16px;
    color: #272a31;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
  }

  .work {
    margin-bottom: 0;
    font-size: 12px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  .contribution {
    color: #272a31;
    margin-bottom: 0;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  .feature {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }

  .footer {
    background-color: rgb(34, 33, 33);
    padding-top: 2rem;
  }

  .footer-head {
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  .contain {
    background-color: #272a31;
    display: flex;
    justify-content: center;
    padding: 5%;
    flex-wrap: wrap;
  }

  .last-logo {
    display: flex;
    justify-content: center;
  }

  .partner-logo {
    margin-top: 2%;
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    padding: 2%;
    flex-direction: row;
  }

  .partner-logo img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-left: 2rem;
  }

  .partner {
    padding-top: 1%;
    display: flex;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: 'lato', sans-serif;
  }

  .partner p {
    font-size: 24px;
  }

  .nav-top {
    display: block;
    background-color: #333;
    padding: 10px;
  }

  .nav-top ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 5%;
  }

  .nav-top li {
    margin-right: 10px;
  }

  .nav-top li a {
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
  }

  .footer-logo {
    padding: 6%;
    display: block;
    width: 280px;
    margin-left: 6%;
  }

  .copyright {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    font-family: sans-serif;
    margin-right: 6%;
  }

  .nav-top li a:hover {
    background-color: #555;
  }

  .morebtn {
    display: none;
  }

  .hearer-second {
    background-color: #fff;
    margin-top: -2%;
  }
}
